Repository ag2ai/mcp-servers: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, check-license-headers, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

check-license-headers:
  name: check license headers
  entry: python ./scripts/pre-commit-license-check.py
  language: python

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  require_serial: true
  verbose: true

Add ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

CI fixes
  .github/workflows/pipeline.yaml
  .github/workflows/publish-coverage.yml
  docs/docs/assets/img/FA-Main-LOGO-640x320-tinypng.png
  docs/docs/assets/img/FA-Secondary-LOGO.jpg
  docs/docs/assets/img/fa-main-logo.svg
  docs/docs/assets/img/favicon.ico
  docs/docs/assets/img/logo.svg
  docs/docs/assets/img/pod-loga.svg
  pyproject.toml
  scripts/test-no-llm-pre-commit.sh
  scripts/test-no-llm.sh
Due: docs

CI fixes
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/check-broken-links-in-docs.yaml
  .github/workflows/deploy-docs.yaml
  .github/workflows/pipeline.yaml
  scripts/build-docs-pre-commit.sh
  scripts/build-docs.sh
  scripts/lint-pre-commit.sh
  scripts/lint.sh
  scripts/static-analysis.sh
  scripts/static-pre-commit.sh
Due: none

CI fixes
  tests/test_dummy.py
Due: lint, check-license-headers, static-analysis

update package version
  pyproject.toml
  scripts/build-docs-pre-commit.sh
  scripts/lint-pre-commit.sh
  scripts/static-pre-commit.sh
Due: none

wip
  .gitignore
  pyproject.toml
Due: none

wip
  .github/workflows/pipeline.yaml
Due: none

wip
  .gitignore
Due: none

wip
  mcp_servers/__init__.py
  tests/test_dummy.py
Due: lint, check-license-headers, static-analysis

wip
  .github/workflows/pipeline.yaml
  docs/docs/SUMMARY.md
  docs/docs/en/api/mcp_servers/dummy/dummy.md
  mcp_servers/__init__.py
  mcp_servers/dummy.py
  tests/test_dummy.py
Due: lint, check-license-headers, static-analysis, docs

badges added
  README.md
Due: none

MCP server for Whatsapp added
  mcp_servers/whatsapp/main.py
  mcp_servers/whatsapp/models.py
Due: lint, check-license-headers, static-analysis

MCP server for Whatsapp added
  mcp_servers/servers/whatsapp/main.py
  mcp_servers/servers/whatsapp/models.py
  pyproject.toml
Due: lint, check-license-headers, static-analysis

MCP server for Whatsapp added
  mcp_servers/servers/whatsapp/main.py
  pyproject.toml
Due: lint, check-license-headers, static-analysis

CLI added
  .gitignore
  docs/docs.py
  docs/docs/SUMMARY.md
  docs/docs/en/api/.meta.yml
  docs/docs/en/api/mcp_servers/dummy/dummy.md
  mcp_servers/__main__.py
  mcp_servers/cli/__init__.py
  mcp_servers/cli/cli.py
  pyproject.toml
Due: lint, check-license-headers, static-analysis, docs

CLI added
  docs/docs.py
  docs/docs/SUMMARY.md
  docs/docs/en/api/.meta.yml
  docs/docs/en/api/mcp_servers/cli/cli/callback.md
  docs/docs/en/api/mcp_servers/cli/cli/gen.md
  docs/docs/en/api/mcp_servers/cli/cli/main.md
  docs/docs/en/api/mcp_servers/cli/cli/version.md
  docs/docs/en/api/mcp_servers/cli/cli/version_callback.md
  docs/docs/en/api/mcp_servers/dummy/dummy.md
  docs/docs/en/cli/cli.md
  docs/docs/navigation_template.txt
Due: lint, check-license-headers, static-analysis, docs

wip
  CONTRIBUTING.md
  docs/create_api_docs.py
  docs/docs.py
  docs/docs/SUMMARY.md
  docs/docs/en/api/.meta.yml
  docs/docs/en/api/mcp_servers/base/the_meaning_of_life.md
  docs/docs/en/index.md
  docs/update_releases.py
  pyproject.toml
Due: lint, check-license-headers, static-analysis, docs

Docs added
  docs/docs/en/api/.meta.yml
  docs/docs/en/api/mcp_servers/base/the_meaning_of_life.md
Due: docs

Version of AG2 upgraded
  pyproject.toml
Due: none

polishing
  .github/workflows/publish_coverage.yaml
  .github/workflows/publish_pypi.yaml
  .github/workflows/test.yaml
  pyproject.toml
Due: none

Path conditions:
  lint: any of: \.py$
  check-license-headers: any of: \.py$, but not: (?x)^(
  notebook/.* |
  website/.*
)$

  static-analysis: any of: \.py$
  docs: any of: ^docs
